<!-- <div  
class="content-section implementation p-fluid">
<h5>Commandes</h5>
<p-toast></p-toast>

<div class="card">
    <p-table
        [value]="commandes"
        dataKey="id"
        editMode="row"
        [rows]="10" [paginator]="true"
        [globalFilterFields]="['commandes.articleName','commandes.client.firstName','representative.name','status']"
        responsiveLayout="scroll"  [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
     >
        <ng-template pTemplate="header">
            <tr>
                 <th pSortableColumn="articleName">Article Name                                        <p-sortIcon field="articleName"></p-sortIcon>
                 </th>
                 <th pSortableColumn="client.firstName">Client Name                                        <p-sortIcon field="client.firstName"></p-sortIcon>
                 </th>
                 <th pSortableColumn="quantity">Quantity                                        <p-sortIcon field="quantity"></p-sortIcon>
                 </th>
                <th pSortableColumn="dateCommande">Date                                        <p-sortIcon field="dateCommande"></p-sortIcon>
                </th>
                <th style="width: 8rem"></th>
            </tr>
        </ng-template>
        <ng-template
            pTemplate="body"
            let-product
            let-editing="editing"
            let-ri="rowIndex"
        >
            <tr [pEditableRow]="product">
               
                <td>
                    <p-cellEditor>
                      
                        <ng-template pTemplate="output">
                            {{ product.articleName }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                       
                        <ng-template pTemplate="output">
                            {{ product.client.firstName +' '+ product.client.lastName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
          
                <td>
                    <p-cellEditor>
                       
                        <ng-template pTemplate="output">
                            {{ product.quantity  }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                     
                        <ng-template pTemplate="output">
                            {{ product.dateCommande | date }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td style="text-align: center">
                   
                    <button
                        *ngIf="!editing"
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-trash"
                        (click)="deleteArticle(product.id)"
                        class="p-button-rounded p-button-text"
                    ></button>                 
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div> -->
<p-table [value]="commandes" dataKey="client.id" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
             <th pSortableColumn="category">Commandes Count <p-sortIcon field="category"></p-sortIcon></th>
            <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            
            <td>{{product.client.firstName + " " + product.client.lastName}}</td>
            <td>{{product.articles.length}}</td>
          
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table [value]="product.articles">
                        <ng-template pTemplate="header"  dataKey="id">
                            <tr>
                                <th pSortableColumn="name">name <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="categorieType">categorieType <p-sortIcon field="categorieType"></p-sortIcon></th>
                                <th pSortableColumn="quantity">quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                                <th pSortableColumn="price">price <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="dateCommande">dateCommande <p-sortIcon field="dateCommande"></p-sortIcon></th>
                                <th style="width: 4rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{order.name}}</td>
                                <td>{{order.categorieType}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.price * order.quantity | currency:'USD'}}</td>
                                <td>{{order.dateCommande | date}}</td>

                          
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no order for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
