<ng-container>
    <div class="card">
        <p-table [value]="articles" dataKey="id" editMode="row">
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <p-card  header="{{product.name}}" [style]="{ width: '25rem', 'margin-bottom': '2em' }">
                    <p   >Price : {{product.price}} </p>
                    <p>Quantity : {{product.quantity}}</p>

                    <button (click)="insertCommande(product)" pButton type="button" label="Buy"
                        class="p-button-outlined" [disabled]="product.quantity < 1 " 
                        [style]="{'margin-left': '80%'}"   ></button>

                </p-card>
            </ng-template>
        </p-table>
    </div>
</ng-container>